# simple configuration for a standalone test "network"
# see stellar-core_example.cfg for a description of the configuration parameters

HTTP_PORT=11626
PUBLIC_HTTP_PORT=true
RUN_STANDALONE=true
LOG_FILE_PATH=""

NETWORK_PASSPHRASE="Standalone Zagg Network ; Oct 2019"

#Secret seed: SD34NZ2XTUOWFN2ICP72ENYHHYRLYGXZWOZQGMY6KKY3N3MAJFRYZCXJ
#Public: GDOM3YVUV3QO2SLBMOLUZ6PMBFNXLDRKYLXKZZYVVJNJ2FCZNJVIH4Q4
#Root account seed  :  SCLCPQFBWNNFQU7MS3AUC5JEYAE6O5HTNE22WAVVMP6OKZMHAYTKAPHG
#Root account pubkey: GAUCYLDVZ5JP5KXXAV6I4XGA4HGPWITBWB56OEUYL3GJIDAP4KOMUVQ4

NODE_SEED="SD34NZ2XTUOWFN2ICP72ENYHHYRLYGXZWOZQGMY6KKY3N3MAJFRYZCXJ self"
NODE_IS_VALIDATOR=true

#KNOWN_PEERS=["127.0.0.1:11635"]

#DATABASE="postgresql://dbname=stellar user=postgres password=password host=localhost"
#DATABASE="sqlite3://stellar.db"
DATABASE="postgresql://dbname=stellar_node01_db host=localhost user=stellar_node_user password=testdb"

ALLOW_LOCALHOST_FOR_TESTING=true 

#Bucket directory path
BUCKET_DIR_PATH = "buckets"

PEER_PORT=11625

COMMANDS=["ll?level=trace"]

FAILURE_SAFETY=0
UNSAFE_QUORUM=true
#The public keys of the Stellar testnet servers
[QUORUM_SET]

THRESHOLD_PERCENT=100
VALIDATORS=["$self"]

[HISTORY.vs]
get="cp tmp/stellar-core/history/vs/{0} {1}"
put="cp {0} tmp/stellar-core/history/vs/{1}"
mkdir="mkdir -p tmp/stellar-core/history/vs/{0}"
